<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">grsgtrwegrwegrewgrwegrwe</h2>
                <hr class="light">
                <p class="text-faded"> I'm currently a sophmore in college at Triton community college, majoring in Computer Information Systems with a concentration in Game and Program Development. </p>
                
            </div>
        </div>
    </div>
</section>
