<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="1-Blackjack/index.html" class="portfolio-box">
                    <img src="img/portfolio/BlackJack.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python Project
                            </div>
                            <div class="project-name">
                                BlackJack
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="2-Tars/Tars.html" class="portfolio-box">
                    <img src="img/portfolio/Robot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                TARS (Self Balancing Robot)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="3-Payroll/Payroll.html" class="portfolio-box">
                    <img src="img/portfolio/Employee.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python OOP Project
                            </div>
                            <div class="project-name">
                                Employee Payroll/Invoices
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="4-Asteroids/Asteroids.html" class="portfolio-box">
                    <img src="img/portfolio/Asteroids.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python Pygame
                            </div>
                            <div class="project-name">
                                Asteroids
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="5-Crypto/Crypto.html" class="portfolio-box">
                    <img src="img/portfolio/Crypto.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cryptocurrency
                            </div>
                            <div class="project-name">
                                Crypto Farm
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="6-Menu/Menu.html" class="portfolio-box">
                    <img src="img/portfolio/Menu.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                C++ Project
                            </div>
                            <div class="project-name">
                                Menu and Recipt
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
