<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How I get things done</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Setting success criteria</h3>
                    <p class="text-muted">Identifying the difference between success and failure helps keep me on task and focused.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Plan of attack</h3>
                    <p class="text-muted">Taking some time to work out a plan saves hours of headaches. Figure out a plan before starting.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Execution</h3>
                    <p class="text-muted">Follow through with the plan. If things dont go as expected, isolate the cause and fix it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Fit and Finish</h3>
                    <p class="text-muted">No cutting corners. Put out quality products that you're happy with, if you're not happy with it neither will other people.</p>
                </div>
            </div>
        </div>
    </div>
</section>
