<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How I get things done</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Determining the problem</h3>
                    <p class="text-muted">Identifying what needs to be done in what order. I like to start by getting a basic outline of what I want done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Plan of attack</h3>
                    <p class="text-muted">I figure out how im going to get these things done, make a gameplan and follow it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Getting it Done</h3>
                    <p class="text-muted">Whether its coding, or building something, following the plan always helps to not mess things up.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Fit and Finish</h3>
                    <p class="text-muted">Work out the small details now that a big majority of the work is done. Put out something that i'm happy with 
                        going into the public.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
